# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm
.idea/
cmake-build-*/
*.iws
out/

# Environment
.env
.venv/
venv/
ENV/

# Data & Logs
data/
logs/*.log
*.ipynb_checkpoints
temp/

# OS
.DS_Store
Thumbs.db
